/* General */
.title__section {
  color: #067a79;
  font-family: "Sen", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.title__section::after {
  content: "";
  height: 3px;
  width: 449px;

  position: absolute;
  top: 50%;
  left: 0px;
  background: linear-gradient(
    270deg,
    #067a79 0%,
    #9eefd6 50.8%,
    rgba(73, 141, 255, 0) 100%
  );
}

.title__section::before {
  content: "";
  height: 3px;
  width: 449px;

  position: absolute;
  top: 50%;
  right: 0px;
  background: linear-gradient(
    90deg,
    #067a79 0%,
    #9eefd6 48.75%,
    rgba(73, 141, 255, 0) 100%
  );
}

/* Home Content */
.home {
  margin-top: 30px;
  max-width: 1200px;
  height: 500px;
}

.home__info {
  position: absolute;
  margin: 210px 46px 57px 519px;
}

.home__title {
  font-family: Sen;
  font-size: 66px;
  font-weight: 800;
  max-width: 635px;
  color: #fff;
}

.home__text {
  margin-left: 43px;
  padding-top: 26px;
  max-width: 580px;
  color: #fff;

  font-size: 26px;
  font-family: Sen;
  text-align: right;
}

/* Discaunt section */
.discounts-section {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  max-width: 1188px;
  margin: 85px auto 60px;
}

.discounts-item {
  display: flex;
  align-items: center;
}

.discounts-item img {
  margin-right: 7px;
}

.discounts-text {
  font-size: 15px;
  font-weight: 400;
}

.discounts-text h2 {
  font-size: 25px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
}

/* Stiluri pentru sectiunea License */
.license__content-left{
  text-align: center;
}

.license__img {
  max-width: 624px;
}

.license__content {
  padding-top: 30px;
  display: flex;
  padding-bottom: 25px;
}

.license__content-left {
  margin-right: 48px;
}

.license__button {
  margin-top: 20px;
  width: 168px;
  height: 41px;
  border-radius: 50px;
  background: #f59818;
  position: relative;
}

.license__button::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  top: 8px;
  left: 0;
  margin-left: 135px;
}

.license__button::after {
  content: ">";
  color: #f59818;
  position: absolute;
  font-family: Sen;
  font-size: 16px;
  font-weight: 700;
  top: 10px;
  left: 9px;
  margin-left: 135px;
}

.license__button a {
  padding-right: 15px;
  color: #fff;
  font-family: Sen;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
}

.license__content-right {
  text-align: left;
}

.license__subtitle {
  color: #000;
  font-family: Sen;
  font-size: 20px;
  font-weight: 700;
}

.license__text {
  padding-top: 25px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}

.license__text a {
  color: #000;
  text-decoration-line: underline;
}

.license__text-first {
  padding-bottom: 40px;
}

.license-term {
  color: #010455;
  font-family: Sen;
  font-size: 12px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* Section NEW */
.new-section__blocks {
  display: flex;
  justify-content: space-between;
}

.new-section__block {
  text-align: center;
}

.new-section__image {
  margin-top: 25px;
  width: 100%;
  height: 300px;
}

.new-section__text {
  font-size: 15px;
  font-weight: 400;
  margin-top: 18px;
}

.new-section__price {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 50px;
}
